head,body,h1,h2,h3,h4,h5 {
    font-family: "Raleway", sans-serif;
    }
    
    .w3-main {
        margin-left:300px;
        margin-top:43px;
    }
    
    .w3-container {
        padding-top:22px;
    }
    
    .w3-row-padding {
        margin:0 -16px;
    }
    
    .w3-sidebar {
        z-index:3;
        width:300px;
    }