<p-dialog header="View" [(visible)]="viewEmployeeDialog" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
  
<div class="p-grid">
    <div class="p-col-10">
        <div class="box"><h1> {{emp.name}} </h1></div>
    </div>
    <div class="p-col-2">
        <div class="box">
            <i *ngIf="emp.gender==='M'" class="fa fa-male" style="font-size: 30px;"></i>
            <i *ngIf="emp.gender==='F'" class="fa fa-female" style="font-size: 30px;"></i>
        </div>
    </div>
</div>
    
</p-dialog>