<p-table
  #dt
  [value]="employees"
  [(selection)]="selectedEmployee"
  [rowHover]="true"
  styleClass="ui-table-employees"
  [rows]="10"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[10, 25, 50]"
  [loading]="loading"
  [paginator]="true"
  [alwaysShowPaginator]="false"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [filterDelay]="0"
>
  <ng-template pTemplate="caption">
    List of Employees
    <div class="ui-table-global-add-container">
    <p-dropdown  [options]="searchOptions" [(ngModel)]="selectedSearchOption" placeholder="Select Search Field" optionLabel="name" [showClear]="true" (onChange)="optionChangeEvent()"></p-dropdown>
      <input *ngIf="selectedSearchOption && selectedSearchOption.value==='name'" style="margin-left: 10px;" pInputText type="text" (input)="onActivityChange($event)" placeholder="Search by Name" />
      <input *ngIf="selectedSearchOption && selectedSearchOption.value==='role'" style="margin-left: 10px;" pInputText type="text" (input)="onActivityChange($event)" placeholder="Search by Role" />
      <input *ngIf="selectedSearchOption && selectedSearchOption.value==='type'" style="margin-left: 10px;" pInputText type="text" (input)="onActivityChange($event)" placeholder="Search by Type" />
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th>
        Name 
      </th>
      <th>
        Role 
      </th>
      <th>
        Type 
      </th>
      <th>
        <button
        pButton
        type="button"
        class="ui-button-primary add-user"
        icon="pi pi-user-plus"
        (click)="onAdd()"
      ></button>
      Add Employee
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-emp>
    <tr class="ui-selectable-row">
      <td>
        {{ emp.name }}
      </td>
      <td>
        {{ emp.role }}
      </td>
      <td>
        <i *ngIf="emp.type==='full time'" class="pi pi-briefcase"></i>
        <i *ngIf="emp.type==='part time'" class="pi pi-clock"></i>
      </td>
      <td>
        <button
          pButton
          type="button"
          class="ui-button-secondary"
          style="margin-left: 15px;"
          icon="pi pi-calendar-times"
          (click)="onViewAttendance()"
        ></button>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="4" style="text-align: center;">No employees found.</td>
    </tr>
  </ng-template>
</p-table>

<router-outlet></router-outlet>
