<p-table
  #dt
  [value]="employees"
  [(selection)]="selectedEmployee"
  [rowHover]="true"
  styleClass="ui-table-employees"
  [rows]="10"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[10, 25, 50]"
  [loading]="loading"
  [paginator]="true"
  [alwaysShowPaginator]="false"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [filterDelay]="0"
  [globalFilterFields]="['name', 'role', 'type', 'id']"
>
  <ng-template pTemplate="caption">
    List of Employees
    <!-- <div class="ui-table-globalfilter-container">
      <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Global Search" />
  </div> -->
    <div class="ui-table-global-add-container">
      
      
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <!-- <th> S.No </th> -->
      <!-- <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th> -->
      <th>
        Name 
      </th>
      <th>
        Role 
      </th>
      <th>
        Type 
      </th>
      <th>
        <button
        pButton
        type="button"
        class="ui-button-primary add-user"
        icon="pi pi-user-plus"
        (click)="onAdd()"
      ></button>
      Add Employee
      </th>
    </tr>

    <tr>
      <!-- <th></th> -->
      <!-- <th>
        <input
          pInputText
          type="text"
          (input)="dt.filter($event.target.value, 'id', 'contains')"
          placeholder="Search by Id"
          class="ui-column-filter"
        />
      </th> -->
      <!-- <th>
        <input
          pInputText
          type="text"
          (input)="dt.filter($event.target.value, 'name', 'contains')"
          placeholder="Search by Name"
          class="ui-column-filter"
        />
      </th>
      <th>
        <input
          pInputText
          type="text"
          (input)="dt.filter($event.target.value, 'role', 'contains')"
          placeholder="Search by Role"
          class="ui-column-filter"
        />
      </th>
      <th>
        <input
          pInputText
          type="text"
          (input)="dt.filter($event.target.value, 'type', 'contains')"
          placeholder="Search by Type"
          class="ui-column-filter"
        />
      </th>
      <th>
       Attendance
      </th> -->
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-emp>
    <tr class="ui-selectable-row">
      <!-- <td>
            <p-tableCheckbox [value]="emp"></p-tableCheckbox>
        </td> -->
      <!-- <td>
        {{ emp.id }}
      </td> -->
      <td>
        {{ emp.name }}
      </td>
      <td>
        {{ emp.role }}
      </td>
      <td>
        <i *ngIf="emp.type==='full time'" class="pi pi-briefcase"></i>
        <i *ngIf="emp.type==='part time'" class="pi pi-clock"></i>
      </td>
      <td>
        <button
          pButton
          type="button"
          class="ui-button-secondary"
          style="margin-left: 15px;"
          icon="pi pi-calendar-times"
          (click)="onViewAttendance()"
        ></button>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="4" style="text-align: center;">No employees found.</td>
    </tr>
  </ng-template>
</p-table>

<router-outlet></router-outlet>
